// BG
$dark-bg: #F7F7F7;
$sub-dark-bg:#F0FFEF;


// TEXT
$main-color: #4AA35A;
$sub-main-color:#009247;
$soft-color:#49494999;
$dark-color:#1F263E;
$input-con-color:#8391A1;


$max: 12;
$angle: 360/$max;
$size: 120px;
$fill: green;

